.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}

.post_body {
    flex: 1;
    padding: 10px;
}

.post_body img {
    border-radius: 20px;
}

.post_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.post_badge {
    font-size: 20px !important;
    color: var(--twitter-color);
}

.post_avatar {
    margin-top: 10px;
    padding: 20px;
}

.post_headerDescription {
    font-size: 20px;
    margin-bottom: 10px;
    /* margin-top: 0px; */
}

.post_headerText h3 {
font-size: 18px;
margin-bottom: 5px;
}