.tweetbox{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--twitter-background);
    padding-right: 10px;
}

.tweetbox form{
    display:flex;
    flex-direction: column;
}

.tB_input{
    display: flex;
    padding: 20px;
}

.tB_input input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    
}

.img{
    border: none;
    padding: 10px;
}

.btn{
   background-color: var(--twitter-color) !important;
   border:none !important;
   color: white !important;
   font-weight: 900 !important;
   text-transform: inherit !important;
   border-radius: 30px !important;
   width: 80px;
   height: 40px !important;
   margin-top: 20px !important;
   margin-left: auto !important;
}

