.widgets{
    flex:0.3;
}

.widgets_input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.widgets_input input {
border: none;
background-color: var(--twitter-background);
font-size: medium;
}

.trending {
    cursor: pointer;
    margin-top: 15px;
    margin-left: 20px;
    padding : 20px;
    border-radius: 20px;
    background-color: var(--twitter-background);
}

.widgets_searchIcon {
    color: var(--twitter-color);
}

.globe {
    color: var(--twitter-color);
    margin-top: 20px;
}

.widgets_widgetcontainer {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
    padding : 20px;
    border-radius: 20px;
    background-color: var(--twitter-background);
}